.butao{
  flex: 0 0 63cm;
}

app-funcionario-list {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display:flex;
  align-items: center;
  justify-content: center;
}

