<mat-card  class="card-list" *ngFor="let Agenda of agendas">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ Agenda.responsavel }}</mat-card-title>
      <mat-card-subtitle>{{Agenda.nome_paciente}}</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{Agenda.tarefa}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CONCLUIDO</button>
    <button mat-button (click)="onEdit(Agenda)">ALTERAR</button>
    <button mat-button (click)="onDelete(Agenda)">EXCLUIR</button>
  </mat-card-actions>
</mat-card>
