<mat-card  class="card-list" *ngFor="let Agenda of agendas">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="content">{{Agenda.nome_paciente}}</mat-card-title>
      <mat-card-subtitle class="content">{{Agenda.responsavel}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="content">
    <br>
    <label>Data: </label> <label>{{Agenda.dia}}/{{Agenda.mes}}/{{Agenda.ano}}</label> <br><br>
    <b><label>Tarefa:</label></b>
    <p>{{Agenda.tarefa}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="accent">CONCLUIDO</button>
    <button mat-button color="primary"(click)="onEdit(Agenda)">ALTERAR</button>
    <button mat-button color="warn"(click)="onDelete(Agenda)">EXCLUIR</button>
  </mat-card-actions>
</mat-card>
