<mat-toolbar color="primary">
  <span>Asilo Arkham</span>

  <div class="example-button-row">
    <a mat-button href="http://localhost:4200/agenda" target="_self">Agenda</a>
    <a mat-button href="http://localhost:4200/pacientes" target="_self">Pacientes</a>
    <a mat-button href="http://localhost:4200/funcionarios" target="_self">Funcionarios</a>
  </div>

  <a mat-icon-button href="http://localhost:4200/login" class="logout" target="_self"><mat-icon>logout</mat-icon></a>

</mat-toolbar>

<router-outlet></router-outlet>
