.mat-table{
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 150px;
}

.action-column-header{
  flex: 0 0 130px;
}

.mat-column-id_paciente{
  width: 5px;
  //border-right: 1px solid currentColor;
  //padding-right: 14px;
  text-align: center;
}
