<mat-card class="example-card">

  <mat-toolbar color="primary">Pacientes Cadastrados</mat-toolbar>

  <div *ngIf="pacientes$ | async as pacientes; else loading">
    <table mat-table [dataSource]="pacientes" class="mat-elevation-z8">
      <!-- NameColumn -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.name }}</td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Sexo</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.gender }}
          <mat-icon aria-hidden="false" aria-label="Genero do paciente">{{ paciente.gender | gender }}</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>
